@using Microsoft.AspNet.Identity
<a href="@Url.Action("Details", "Manage")">
    <p class="centered">
        <img src="@Url.Action("GetImage", "Account", new{id = User.Identity.GetUserId()})" class="img-circle" width="60">
    </p>
    <h5 class="centered">@User.Identity.Name</h5>
</a>
