@{
    ViewBag.Title = "Новый платеж";
}

<h2>Новый платеж</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#bank">Банковский перевод</a></li>
    <li><a data-toggle="tab" href="#card">Перевод на другую карту</a></li>
    <li><a data-toggle="tab" href="#mobile">Пополнения мобильного счета</a></li>
</ul>

<div class="tab-content">
    <div id="bank" class="tab-pane fade in active">
        @Html.Action("CreateBankOperation")
    </div>
    <div id="card" class="tab-pane fade">
        @Html.Action("CreateCardOperation")
    </div>
    <div id="mobile" class="tab-pane fade">
        @Html.Action("CreateMobileOperation")
    </div>
</div>
